fitz==0.0.1.dev2
gliner==0.2.22
intel_extension_for_pytorch==2.8.10+xpu
langchain_core==1.1.0
langchain_text_splitters==1.0.0
nltk==3.9.2
numpy==2.3.5
pdf2image==1.17.0
pdfplumber==0.11.7
peft==0.17.0
Pillow==12.0.0
pymilvus==2.6.0
pymilvus_model==0.3.2
pytesseract==0.3.13
PyYAML==6.0.2
PyYAML==6.0.3
rank_bm25==0.2.2
rdflib==7.4.0
scipy==1.16.3
sentence_transformers==5.0.0
spacy==3.8.11
tokenizers==0.22.1
torch==2.8.0+xpu
transformers==4.51.0
